body {
    padding-top: 0;
}

.main {
    display: flex;
}

.leftbar img {
    height: 100px;
    width: 100px;
}

.leftbar {
    width: 160px;
    height: 100%;

}

.center {
    flex-grow: 1;
}

.centerText {
    background-color: #eef6f3;
    display: flex;
    padding: 15px;
    border: solid grey 1px;
}

.centerText span {
    font-size: 24px;
}


.centercontent {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.centerText2 img {
    margin-top: 10px;
    height: 100px;
    width: 100px;

}

.centerText3 img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.centerText2 {
    background-color: #eef6f3;
    width: 45%;
    margin-top: 10px;
    border: solid cadetblue 1px;
    padding: 10px;
}

.centerText3 {
    background-color: #eef6f3;
    width: 45%;
    margin-top: 10px;
    border: solid cadetblue 1px;
    padding: 10px;
}

.title {
    background-color: #7aab93;
    width: 100%;
    margin: 2px;
    border: solid cadetblue 1px;
}

.title p {
    margin: 5px;
}

.head {

    height: 50px;
    display: flex;
    align-items: end;
    justify-content: flex-end;

}

.head div {
    margin: 0 10px 0 0;
}

.head div:last-child {
    margin-right: 0;
}

.title__list {

    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title__list ul:last-child {
    margin-right: 20px;
}

.wiki__title {
    width: 50%;
}

.title__list a {
    text-decoration: none;
}

.leftbar ul {
    list-style-type: none;
    padding-left: 4px;
}

.centerText2 p {
    text-align: justify;
}

.centerText3 p {
    text-align: justify;
}

.leftbar li {
    margin-bottom: 5px;
}

.leftbar a {
    text-decoration: none;
}
