/*.circle{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*}*/
/*.triangle {*/

/*    overflow: hidden;*/


/*}*/
.imgItem img {
        width: 40%;
        height: 80px;
        border-radius: 50%;
}
.aboutItem{
    display: flex;
    margin-left: 10%;
    margin-bottom:30px ;
    flex-wrap:wrap ;
}
.aboutItem p {
    position: relative;
    left: -50px;
}